.keySettings {
  width: 80%;
  margin-left: 18%;
  margin-top: 1.5%;
}
.keySettingItems {
  flex: 1;
  margin: 0px 20px;
  padding: 0px;
  /* border: 1px solid #0a0000;
  border-radius: 10px;
  background-color: #2b6777; */
  
}
.keySettingContainer {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.buttons {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  /* height: 15px; */
  line-height: 15px;
  color: #e7411b;
  /* font-family: Open Sans; */
  width: fit-content;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  background-color: #F6F8FA;
  border: solid silver 1px; 
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.buttons:hover {
  color: #ffffff;
  background: #CF222E;
  /* border: solid #dd380d 1px; */
  /* -webkit-border-radius: 20px;
  -moz-border-radius: 20px; */
  /* border-radius: 20px; */
  text-decoration: none;
}
.keyvalue {
  margin-left: 20px;
  width: 270px;
  height: 35px;
  border: none;
  margin-bottom: 2%;
  font-size: 1.3em;
}

.copy:hover {
  color: blue;
}
.copy {
  position: relative;
  right: 33px;
  top: 7px;
  font-size: 18px;
  background: transparent;
  border: none transparent;
  color: black;
}
