.ProjectHomePage{
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.ProjectSideBar{
    width: 20vw;
}
.outlet{
    /* width: calc(100vw - 20vw); */
    width: 77vw;
    height: 100vh;
    padding: 0px 50px;
    margin-top: 50px;
    margin-left: 225px;
    background-color: #f2f2f2;
} 