.projectSetting{
    width: 100%;
    /* display: flex;
    justify-content: space-around; */
}
.projectSettingItems{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border: 1px solid #0A0000;
    border-radius: 10px;
    background-color: #52ab98;
    color: #ffffff;
    /* cursor: pointer; */
    /* -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 25px 0px rgba(0,0,0,1); */
}
.projectSettingContainer{
    display: flex;
    align-items: center;
    justify-content:space-between ;

}
/* .delete{
    font-size:15px;
    width: 150px;
    padding: 20px;
    border-width:1px;
    border-radius: 15px;
   
} */
.delete {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    /* height: 15px; */
    line-height: 15px;
    color: #DD380D;
    /* font-family: Open Sans; */
    width: 150px;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #F2F2F2;
    border: solid #DD380D 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .delete:hover {
    color:#ffffff;
    background: #E7411B;
    border: solid #DD380D 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }