.projectSetting {
  width: 80%;
  margin-left: 18%;
  margin-top: 1.5%;
  font-size: 15px;
  /* display: flex;
    justify-content: space-around; */
}
.projectSettingItems {
  flex: 1;
  /* margin: 0px 20px;
  padding: 30px;
  border: 1px solid #0a0000;
  border-radius: 10px;
  background-color: #2b6777;
  color: #ffffff; */
}
.projectDetails{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.projectSettingContainer {
  display: flex;
  align-items: center;
  /* justify-content: left; */
}
.save{
  margin-left: 20px;
  border-radius: 5px;
  background: #2b6777;
  color: #ffffff;
  width: fit-content;
}
.save:hover{
  background: #e7411b;
  color: white;
}
.delete {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
  /* height: 15px; */
  line-height: 15px;
  color: #dd380d;
  /* font-family: Open Sans; */
  width: 150px;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  background-color: #f2f2f2;
  /* border: solid #2b6777 2px; */
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.delete:hover {
  color: #ffffff;
  background: #e7411b;
  /* border: solid #dd380d 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; */
  text-decoration: none;
}
