.sidebar{
    /* flex: 1; */
    height: 100vh;
    /* height: calc(100vh - 50px); */
    background-color: #06745c;
    position: fixed;
    width:15%;
}
.sidebarWrapper{
    padding: 20px;
    color: white;
    width: 100%;
}
.sidebarMenu{
    margin-bottom: 10px;
    width: 100%;
}
.sidebarTitle{
    font-size: 15px;
    color: white;
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(207, 211, 207);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}